#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "MyWiFiSSID"
#define WIFI_PW "some_secret_password"

#define PORT 4210
#define SENDER_IPADDR 192, 168, 0, 101
#define RECEIVER_IPADDR 192, 168, 0, 102
#define GATEWAY_IPADDR 192, 168, 0, 1
#define SUBNET 255, 255, 255, 0

#endif